/**SanFrancisco**/
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff2");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}



/* Josefin Sans */
@font-face {
  font-family: 'Josefin Sans';
  src: url("JosefinSans-Regular.ttf"); /* IE9 Compat Modes */
}



h6, p, body, li{
    font-family: "San Francisco","Helvetica Nueue", sans-serif;
    letter-spacing: 0;
    margin-bottom: 0;
    color: #4c4c4c;
    font-weight: 400;
    letter-spacing: .01em;
    text-align: left;
}

h1, h2 {
  font-family: Josefin Sans, sans-serif;
  letter-spacing: 0;
  margin-bottom: 0;
  color: #4c4c4c;
  font-weight: 400;
  letter-spacing: -.02em;
}

h3, h4, h5 {
  font-family: Josefin Sans;
  letter-spacing: 0;
  margin-bottom: 0;
  color: #4c4c4c;
  font-weight: 400;
  letter-spacing: .01em;
  /* text-align: center; */
}


a {
    text-decoration: none;
    color: #BDBDBD;
}

a:hover{
  color:#4c4c4c;
}



.u-blue{
  color:#7CA6D6;
}

.u-dark {
  color: #4c4c4c;
}

.u-grey {
    color:#9D9D9D;
}

.u-bold {
  font-weight:600;
}

.u-med{
  font-weight: 400;
}

#portfolio a{
  color: #7CA6D6;
  font-weight: 400;
}

#portfolio a:hover{
  color: #4D6785;
  font-weight: 400;
}

.mockup {
  width: 100%;
  margin-bottom:40px;
}

/*Components*/

ul.header-links--inline li{
    display: inline-block;
    margin-right: 24px;
    text-transform: uppercase;
    font-weight: 600;
    /* left: 24px; */
}

.button{
  height:48px;
  text-transform: none;
  font-size: 16px;
  line-height:44px;
  font-weight:600;
}

.project {
  -webkit-transform: scale(1.00);
  transition: 0.3s;
}
.project:hover {
  -webkit-transform: scale(1.02);
  transition: 0.25s;
}

.portfolio {
  background-color: #fcfcfc;
  margin-top: -48px;
}

img {
  display:block;
  margin:auto;
}

.card{
    padding-top: 48px;
    padding-bottom: 48px;
    border-bottom: 1px solid #E6E6E6;
}

.header {
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}




.end {
  padding-top: 48px;
  padding-bottom: 120px;
}

.avatar{
  width: 100%;
  box-shadow: 0 0 0 0 rgba(0,0,0,0.24), 0 9px 25px 1px rgba(0,0,0,0.18), 0 10px 45px 0 rgba(0,0,0,0.12);
  margin-bottom:40px;
  position: relative;
  top:-40px;
}

.card-first{
  padding-top: 48px;
  padding-bottom: 48px;
}



/* photography section */


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 10px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}


/* so that padding isnt too hardcore on mobile */
/* @media only screen and (max-width: 500px){
    .info {
        margin-left:80px;
        margin-right: 80px;
    }
} */


/* @media all and (min-width: 1024px) and (max-width: 1280px) {
  .info {
      margin-left:140px;
      margin-right: 140px;
  }
} */


/* so that padding isnt too hardcore on mobile */
@media only screen and (max-width: 800px){
  .info {
      margin-left:20px;
      margin-right: 20px;
  }
}



.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Image styling*/
.horiz-left {
   padding:10px;
   float:left;
   width:500px;
  height:400px;
}

.horiz-right{
  padding:10px;
  float:right;
  width:500px;
  height:400px;
}

.vert-left{
  padding:10px;
  float:left;
  width:400px;
  height:500px;
}

.vert-right{
  padding:10px;
   position: relative;
   float:right;
   width: 450px;
   height:600px;
}

.center{
  width:580px;
  height:410px;
  padding-bottom:10px;
  margin-bottom:40px;
  position:relative;
}

/*Paragraph styling*/
.info{
  margin-left: 140px;
  margin-right:140px;
  top:-60px;
  position:relative;
  text-align:center;
}

.header{
  font-family: Helvetica;
  font-size: 19px;
  text-align:center;
  margin-top:1px;
}

/* info under images */
.imageinfo{
  font-size: 20px;
}


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}



.soc {
    display: block;
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 48px;
    padding: 4.8rem;
    text-align: center;
}

.soc li {
    display: inline-block;
    margin: 12px;
    margin: 1.2rem;
}

.soc a, .soc svg {
    display: block;
}

.soc a {
    position: relative;
    height: 96px;
    height: 9.6rem;
    width: 96px;
    width: 9.6rem;
}

.soc svg {
    height: 100%;
    width: 100%;
}

.soc em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
}

.icon-1:hover, .icon-2:hover, .icon-3:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    transform: scale(1.25);
    transition: background-color .5s, transform .5s ease-out;
}

.icon-1 {
    color: #d94a26;
    fill: #d94a26;
}

.icon-1:hover {
    background: #d94a26;
}

.icon-2 {
    color: #d96e26;
    fill: #d96e26;
}

.icon-2:hover {
    background: #d96e26;
}

.icon-3 {
    color: #d99126;
    fill: #d99126;
}

.icon-3:hover {
    background: #d99126;
}



.buttonz {
   transition:all .25s ease-in-out;
   -moz-transition:all .25s ease-in-out;
   -webkit-transition:all .25s ease-in-out;

  float:left;
  height:30px;
  width:30px;
  margin-left:15px;
  opacity:.5;
}

.buttonz:hover {
   transition:all .25s ease-in-out;
   -moz-transition:all .25s ease-in-out;
   -webkit-transition:all .25s ease-in-out;
  opacity:1;

  margin-top:-10px;

}

.buttonz img {
  margin-top:-10px;
  margin-left:-10px !important;
  background:transparent;
}


.buttonz{
  left:22px;
  top:0px;
  position: relative;
}
/* instagram image fix */
#img_2 {
  margin:0;

  position: relative;
  left:52px;
}





/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  transition: 0.3s;
  padding-left: 15px;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
/* .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
} */

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




/*
.grow { transition: all .5s ease-in-out; }
.grow:hover { transform: scale(1.1); }
 */



 @media only screen and (max-width: 800px){
   .info {
       margin-left:20px;
       margin-right: 20px;
   }
 }

/*


  .slide{
   position:relative;
   cursor:pointer;
   background:#e1e1e1;  color:white;
   z-index:0;

 }
 .slide:before {
   content: "";
   position: absolute;
   z-index:-1;
   top: 0;  left: 0;  right: 0;  bottom: 0;
   background: #DCEAF4;
   transform: scaleX(0);
   transform-origin: 0 50%;
   transition: transform .5s ease-out;
 }
 .slide:hover:before{transform: scaleX(1);} */
